matplotlib~=3.5.1
numpy~=1.22.1
rpy2~=3.5.1
gymnasium~=0.28.1
pygame~=2.1.2
ale-py~=0.7.5
# R an some libs are also required
# bnlearn install.packages("https://www.bnlearn.com/releases/bnlearn_latest.tar.gz", repos = NULL, type = "source")
# Rgraphviz if (!require("BiocManager", quietly = TRUE))
#           +     install.packages("BiocManager")
#           BiocManager::install("Rgraphviz")
# Authorization token for github at INAOE 2090I: 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

# Installing Tkinter for Dynamic plotting using gym.PlayPlot
# apt-get install python-tk

#conda install -c conda-forge r-base
#conda install -c conda-forge r-bnlearn

# sudo apt-get install -y libssl-dev libcurl4-gnutls-dev libgit2-dev
# Reading package lists... Done
# Building dependency tree
# Reading state information... Done
# libssl-dev is already the newest version (1.1.1f-1ubuntu2.18).
# The following packages were automatically installed and are no longer required:
#   apturl-common cmake-data cuda-command-line-tools-11-0 cuda-compiler-11-0 cuda-cudart-11-0 cuda-cudart-dev-11-0 cuda-cuobjdump-11-0 cuda-cupti-11-0 cuda-cupti-dev-11-0 cuda-documentation-11-0 cuda-driver-dev-11-0
#   cuda-gdb-11-0 cuda-libraries-11-0 cuda-libraries-dev-11-0 cuda-memcheck-11-0 cuda-nsight-11-0 cuda-nsight-compute-11-0 cuda-nsight-systems-11-0 cuda-nvcc-11-0 cuda-nvdisasm-11-0 cuda-nvml-dev-11-0 cuda-nvprof-11-0
#   cuda-nvprune-11-0 cuda-nvrtc-11-0 cuda-nvrtc-dev-11-0 cuda-nvtx-11-0 cuda-nvvp-11-0 cuda-samples-11-0 cuda-sanitizer-11-0 cuda-toolkit-11-0 cuda-tools-11-0 cuda-visual-tools-11-0 cython3 fltk1.3-doc fluid fonts-lato
#   gazebo11 gazebo11-common gazebo11-plugin-base gir1.2-gst-plugins-base-1.0 gir1.2-gtk-2.0 gir1.2-harfbuzz-0.0 gir1.2-javascriptcoregtk-4.0 gir1.2-rb-3.0 gnome-todo-common ignition-tools libarmadillo-dev
#   libarpack2-dev libass9 libatk1.0-dev libavdevice-dev libavdevice58 libavfilter-dev libavfilter7 libbs2b0 libcairo-script-interpreter2 libcairo2-dev libcfitsio-dev libcfitsio-doc libcharls-dev libcublas-11-0
#   libcublas-dev-11-0 libcufft-11-0 libcufft-dev-11-0 libcurand-11-0 libcurand-dev-11-0 libcusolver-11-0 libcusolver-dev-11-0 libcusparse-11-0 libcusparse-dev-11-0 libdap-dev libdapserver7v5
#   libdart-collision-bullet-dev libdart-collision-ode-dev libdart-dev libdart-external-ikfast-dev libdart-external-odelcpsolver-dev libdart-utils-dev libdart-utils-urdf-dev libdart6 libdart6-collision-bullet
#   libdart6-collision-ode libdart6-external-odelcpsolver libdart6-utils libdart6-utils-urdf libdatrie-dev libdazzle-1.0-0 libdmapsharing-3.0-2 libepsilon-dev libfcl-dev libfcl0.5 libfftw3-double3 libflite1
#   libfltk-cairo1.3 libfltk-forms1.3 libfltk-gl1.3 libfltk-images1.3 libfltk1.3 libfltk1.3-dev libfreeimage-dev libfreexl-dev libfribidi-dev libfyba-dev libgazebo11 libgdal-dev libgeos-dev libgeotiff-dev libgif-dev
#   libgl2ps-dev libgnome-todo libgpod-common libgpod4 libgraphite2-dev libgtk2.0-dev libgts-dev libharfbuzz-dev libharfbuzz-gobject0 libignition-cmake2-dev libignition-common3 libignition-common3-av
#   libignition-common3-av-dev libignition-common3-core-dev libignition-common3-dev libignition-common3-events libignition-common3-events-dev libignition-common3-graphics libignition-common3-graphics-dev
#   libignition-common3-profiler libignition-common3-profiler-dev libignition-fuel-tools4 libignition-math6 libignition-math6-dev libignition-msgs5 libignition-msgs5-dev libignition-tools-dev libignition-transport8
#   libignition-transport8-core-dev libignition-transport8-dev libignition-transport8-log libignition-transport8-log-dev libjs-jquery-ui libjson-c-dev libjsoncpp-dev libkml-dev libkmlconvenience1 libkmlregionator1
#   libkmlxsd1 liblilv-0-0 liblirc-client0 libllvm11 libllvm11:i386 libminizip-dev libmysofa1 libnetcdf-cxx-legacy-dev libnorm-dev libnorm1 libnpp-11-0 libnpp-dev-11-0 libnvidia-common-460 libnvidia-common-465
#   libnvjpeg-11-0 libnvjpeg-dev-11-0 liboctomap-dev liboctomap1.9 libogdi-dev libogg-dev libopenal-data libopenal1 libopenjp2-7-dev libopenni-dev libopenni-sensor-pointclouds0 libopenni0 libopenni2-0 libopenni2-dev
#   libpango1.0-dev libpcl-apps1.10 libpcl-common1.10 libpcl-dev libpcl-features1.10 libpcl-filters1.10 libpcl-io1.10 libpcl-kdtree1.10 libpcl-keypoints1.10 libpcl-ml1.10 libpcl-octree1.10 libpcl-outofcore1.10
#   libpcl-people1.10 libpcl-recognition1.10 libpcl-registration1.10 libpcl-sample-consensus1.10 libpcl-search1.10 libpcl-segmentation1.10 libpcl-stereo1.10 libpcl-surface1.10 libpcl-tracking1.10
#   libpcl-visualization1.10 libpgm-5.2-0 libpgm-dev libpoppler-dev libpoppler-private-dev libpostproc-dev libpostproc55 libproj-dev libprotobuf-dev libprotobuf-lite17 libprotoc-dev libprotoc17 libqt5designercomponents5
#   libqt5positioning5 libqt5quickparticles5 libqt5quickshapes5 libqt5quicktest5 libqt5quickwidgets5 libqt5sensors5 libqt5webchannel5 libqt5webkit5 libqt5webkit5-dev libqwt-qt5-6 libqwt-qt5-dev librhash0 librubberband2
#   libruby2.7 libsdformat9 libsdformat9-dev libserd-0-0 libsgutils2-2 libsimbody-dev libsimbody3.6 libsodium-dev libsord-0-0 libspatialite-dev libsratom-0-0 libsuperlu-dev libsysmetrics1 libtar-dev libtar0 libthai-dev
#   libtheora-dev liburiparser-dev libusb-1.0-0-dev libusb-1.0-doc libvidstab1.1 libvtk7-dev libvtk7-java libvtk7-jni libvtk7-qt-dev libvtk7.1p libvtk7.1p-qt libxcb-render0-dev libxcb-shm0-dev libxdamage1:i386
#   libxerces-c-dev libyaml-dev libzip-dev libzip5 libzmq3-dev libzmq5 libzstd-dev nsight-compute-2021.1.0 nsight-systems-2020.3.2 openni-utils pango1.0-tools protobuf-compiler python-matplotlib-data python3-attr
#   python3-autobahn python3-automat python3-cbor python3-constantly python3-cycler python3-debconf python3-hamcrest python3-hyperlink python3-incremental python3-kiwisolver python3-lz4 python3-mako python3-markupsafe
#   python3-matplotlib python3-mpi4py python3-opengl python3-png python3-psutil python3-pyasn1 python3-pyasn1-modules python3-pydot python3-pyqrcode python3-pyqt5.qtopengl python3-pyqt5.qtwebkit python3-service-identity
#   python3-snappy python3-trie python3-twisted python3-twisted-bin python3-txaio python3-u-msgpack python3-ubjson python3-vtk7 python3-wsaccel python3-zope.interface qdoc-qt5 qhelpgenerator-qt5 qt5-assistant
#   qtattributionsscanner-qt5 qtdeclarative5-dev qtdeclarative5-dev-tools qttools5-dev qttools5-dev-tools qttools5-private-dev rake ros-noetic-actionlib-tutorials ros-noetic-bond-core ros-noetic-bondpy
#   ros-noetic-camera-calibration ros-noetic-common-msgs ros-noetic-common-tutorials ros-noetic-compressed-depth-image-transport ros-noetic-compressed-image-transport ros-noetic-depth-image-proc ros-noetic-desktop
#   ros-noetic-diagnostic-aggregator ros-noetic-diagnostic-analysis ros-noetic-diagnostic-common-diagnostics ros-noetic-diagnostics ros-noetic-executive-smach ros-noetic-filters ros-noetic-gazebo-msgs
#   ros-noetic-geometry ros-noetic-geometry-tutorials ros-noetic-gl-dependency ros-noetic-image-common ros-noetic-image-geometry ros-noetic-image-pipeline ros-noetic-image-proc ros-noetic-image-publisher
#   ros-noetic-image-rotate ros-noetic-image-transport-plugins ros-noetic-image-view ros-noetic-interactive-marker-tutorials ros-noetic-kdl-conversions ros-noetic-laser-assembler ros-noetic-laser-filters
#   ros-noetic-laser-pipeline ros-noetic-librviz-tutorial ros-noetic-mk ros-noetic-nodelet-core ros-noetic-nodelet-topic-tools ros-noetic-nodelet-tutorial-math ros-noetic-pcl-conversions ros-noetic-pcl-msgs
#   ros-noetic-pcl-ros ros-noetic-perception ros-noetic-perception-pcl ros-noetic-pluginlib-tutorials ros-noetic-polled-camera ros-noetic-qt-dotgraph ros-noetic-qt-gui ros-noetic-qt-gui-cpp ros-noetic-qt-gui-py-common
#   ros-noetic-qwt-dependency ros-noetic-robot ros-noetic-ros ros-noetic-ros-base ros-noetic-ros-comm ros-noetic-ros-core ros-noetic-ros-tutorials ros-noetic-rosbash ros-noetic-rosboost-cfg ros-noetic-roscpp-core
#   ros-noetic-roscpp-tutorials ros-noetic-roscreate ros-noetic-roslang ros-noetic-roslisp ros-noetic-rosmake ros-noetic-rospy-tutorials ros-noetic-rqt-action ros-noetic-rqt-bag ros-noetic-rqt-bag-plugins
#   ros-noetic-rqt-common-plugins ros-noetic-rqt-console ros-noetic-rqt-dep ros-noetic-rqt-graph ros-noetic-rqt-gui ros-noetic-rqt-gui-cpp ros-noetic-rqt-gui-py ros-noetic-rqt-image-view ros-noetic-rqt-launch
#   ros-noetic-rqt-logger-level ros-noetic-rqt-moveit ros-noetic-rqt-msg ros-noetic-rqt-nav-view ros-noetic-rqt-plot ros-noetic-rqt-pose-view ros-noetic-rqt-publisher ros-noetic-rqt-py-common ros-noetic-rqt-py-console
#   ros-noetic-rqt-reconfigure ros-noetic-rqt-robot-dashboard ros-noetic-rqt-robot-monitor ros-noetic-rqt-robot-plugins ros-noetic-rqt-robot-steering ros-noetic-rqt-runtime-monitor ros-noetic-rqt-rviz
#   ros-noetic-rqt-service-caller ros-noetic-rqt-shell ros-noetic-rqt-srv ros-noetic-rqt-tf-tree ros-noetic-rqt-top ros-noetic-rqt-topic ros-noetic-rqt-web ros-noetic-rviz-plugin-tutorials
#   ros-noetic-rviz-python-tutorial ros-noetic-self-test ros-noetic-smach ros-noetic-smach-msgs ros-noetic-smach-ros ros-noetic-stage ros-noetic-stage-ros ros-noetic-stereo-image-proc ros-noetic-stereo-msgs
#   ros-noetic-tf-conversions ros-noetic-theora-image-transport ros-noetic-turtle-actionlib ros-noetic-turtle-tf ros-noetic-turtle-tf2 ros-noetic-turtlesim ros-noetic-urdf-parser-plugin ros-noetic-urdf-tutorial
#   ros-noetic-vision-opencv ros-noetic-visualization-marker-tutorials ros-noetic-visualization-tutorials ros-noetic-viz ros-noetic-webkit-dependency ruby ruby-minitest ruby-net-telnet ruby-power-assert ruby-test-unit
#   ruby-xmlrpc ruby2.7 rubygems-integration sbcl sdformat9-sdf shim shotwell-common tcl-dev tcl-vtk7 tcl8.6-dev tk-dev tk8.6-dev ttf-dejavu-core update-notifier-common vtk7 x11-apps x11-session-utils xbitmaps xinit
# Use 'sudo apt autoremove' to remove them.
# The following additional packages will be installed:
#   gazebo11 gazebo11-plugin-base libgazebo11 libgcrypt20-dev libgit2-28 libhttp-parser-dev libhttp-parser2.9 libignition-cmake2-dev libignition-math6 libignition-math6-dev libignition-msgs5 libignition-msgs5-dev
#   libmbedcrypto3 libmbedtls-dev libmbedtls12 libmbedx509-0 libsdformat9 libsdformat9-dev libssh2-1 libssh2-1-dev sdformat9-sdf
# Suggested packages:
#   gazebo11-doc libcurl4-doc libgnutls28-dev libidn11-dev librtmp-dev libgcrypt20-doc libmbedtls-doc
# The following packages will be REMOVED:
#   libcurl4-openssl-dev libgazebo11-dev libignition-fuel-tools4-dev ros-noetic-desktop-full ros-noetic-gazebo-dev ros-noetic-gazebo-plugins ros-noetic-gazebo-ros ros-noetic-gazebo-ros-control ros-noetic-gazebo-ros-pkgs
#   ros-noetic-simulators ros-noetic-urdf-sim-tutorial
# The following NEW packages will be installed:
#   libcurl4-gnutls-dev libgcrypt20-dev libgit2-28 libgit2-dev libhttp-parser-dev libhttp-parser2.9 libmbedcrypto3 libmbedtls-dev libmbedtls12 libmbedx509-0 libssh2-1 libssh2-1-dev
# The following packages will be upgraded:
#   gazebo11 gazebo11-plugin-base libgazebo11 libignition-cmake2-dev libignition-math6 libignition-math6-dev libignition-msgs5 libignition-msgs5-dev libsdformat9 libsdformat9-dev sdformat9-sdf
# 11 upgraded, 12 newly installed, 11 to remove and 506 not upgraded.
# Need to get 20.2 MB of archives.
# After this operation, 15.7 MB disk space will be freed.
# Get:1 http://packages.ros.org/ros/ubuntu focal/main amd64 libignition-cmake2-dev amd64 2.15.0-1~focal [186 kB]
# Get:2 http://mx.archive.ubuntu.com/ubuntu focal-updates/main amd64 libcurl4-gnutls-dev amd64 7.68.0-1ubuntu2.18 [320 kB]
# Get:3 http://packages.ros.org/ros/ubuntu focal/main amd64 libignition-math6-dev amd64 6.13.0-1~focal [148 kB]
# Get:4 http://packages.ros.org/ros/ubuntu focal/main amd64 libignition-math6 amd64 6.13.0-1~focal [109 kB]
# Get:5 http://packages.ros.org/ros/ubuntu focal/main amd64 libignition-msgs5-dev amd64 5.10.0-4~focal [573 kB]
# Get:6 http://mx.archive.ubuntu.com/ubuntu focal-updates/main amd64 libgcrypt20-dev amd64 1.8.5-5ubuntu1.1 [471 kB]
# Get:7 http://packages.ros.org/ros/ubuntu focal/main amd64 libignition-msgs5 amd64 5.10.0-4~focal [786 kB]
# Get:8 http://mx.archive.ubuntu.com/ubuntu focal/universe amd64 libhttp-parser2.9 amd64 2.9.2-2 [21.8 kB]
# Get:9 http://mx.archive.ubuntu.com/ubuntu focal/universe amd64 libmbedcrypto3 amd64 2.16.4-1ubuntu2 [150 kB]
# Get:10 http://mx.archive.ubuntu.com/ubuntu focal/universe amd64 libmbedx509-0 amd64 2.16.4-1ubuntu2 [42.3 kB]
# Get:11 http://mx.archive.ubuntu.com/ubuntu focal/universe amd64 libmbedtls12 amd64 2.16.4-1ubuntu2 [71.8 kB]
# Get:12 http://mx.archive.ubuntu.com/ubuntu focal/universe amd64 libssh2-1 amd64 1.8.0-2.1build1 [75.4 kB]
# Get:13 http://mx.archive.ubuntu.com/ubuntu focal/universe amd64 libgit2-28 amd64 0.28.4+dfsg.1-2 [403 kB]
# Get:14 http://mx.archive.ubuntu.com/ubuntu focal/universe amd64 libmbedtls-dev amd64 2.16.4-1ubuntu2 [444 kB]
# Get:15 http://packages.ros.org/ros/ubuntu focal/main amd64 libsdformat9-dev amd64 9.8.0-1~focal [54.1 kB]
# Get:16 http://packages.ros.org/ros/ubuntu focal/main amd64 sdformat9-sdf all 9.8.0-1~focal [55.2 kB]
# Get:17 http://packages.ros.org/ros/ubuntu focal/main amd64 libsdformat9 amd64 9.8.0-1~focal [482 kB]
# Get:18 http://mx.archive.ubuntu.com/ubuntu focal/universe amd64 libssh2-1-dev amd64 1.8.0-2.1build1 [244 kB]
# Get:19 http://mx.archive.ubuntu.com/ubuntu focal/universe amd64 libhttp-parser-dev amd64 2.9.2-2 [20.2 kB]
# Get:20 http://packages.ros.org/ros/ubuntu focal/main amd64 gazebo11-plugin-base amd64 11.11.0-1~focal [2 034 kB]
# Get:21 http://mx.archive.ubuntu.com/ubuntu focal/universe amd64 libgit2-dev amd64 0.28.4+dfsg.1-2 [691 kB]
# Get:22 http://packages.ros.org/ros/ubuntu focal/main amd64 gazebo11 amd64 11.11.0-1~focal [3 973 kB]
# Get:23 http://packages.ros.org/ros/ubuntu focal/main amd64 libgazebo11 amd64 11.11.0-1~focal [8 879 kB]
# Fetched 20.2 MB in 7s (2 848 kB/s)
# (Reading database ... 381383 files and directories currently installed.)
# Removing ros-noetic-desktop-full (1.5.0-1focal.20220107.021548) ...
# Removing ros-noetic-simulators (1.5.0-1focal.20220107.015055) ...
# Removing ros-noetic-gazebo-ros-pkgs (2.9.2-1focal.20220107.014848) ...
# Removing ros-noetic-gazebo-plugins (2.9.2-1focal.20220107.010304) ...
# Removing ros-noetic-urdf-sim-tutorial (0.5.1-1focal.20220107.013947) ...
# dpkg: libcurl4-openssl-dev:amd64: dependency problems, but removing anyway as you requested:
#  libignition-fuel-tools4-dev:amd64 depends on libcurl4-openssl-dev.
#  libgazebo11-dev:amd64 depends on libcurl4-openssl-dev.
#  libdap-dev:amd64 depends on libcurl4-gnutls-dev | libcurl-dev; however:
#   Package libcurl4-gnutls-dev is not installed.
#   Package libcurl-dev is not installed.
#   Package libcurl4-openssl-dev:amd64 which provides libcurl-dev is to be removed.
#  libnetcdf-dev depends on libcurl4-gnutls-dev | libcurl-ssl-dev; however:
#   Package libcurl4-gnutls-dev is not installed.
#   Package libcurl-ssl-dev is not installed.
#   Package libcurl4-openssl-dev:amd64 which provides libcurl-ssl-dev is to be removed.
#  libgdal-dev depends on libcurl4-gnutls-dev | libcurl-ssl-dev; however:
#   Package libcurl4-gnutls-dev is not installed.
#   Package libcurl-ssl-dev is not installed.
#   Package libcurl4-openssl-dev:amd64 which provides libcurl-ssl-dev is to be removed.
#
# Removing libcurl4-openssl-dev:amd64 (7.68.0-1ubuntu2.18) ...
# dpkg: ros-noetic-gazebo-ros: dependency problems, but removing anyway as you requested:
#  ros-noetic-gazebo-ros-control depends on ros-noetic-gazebo-ros.
#
# Removing ros-noetic-gazebo-ros (2.9.2-1focal.20220107.005343) ...
# Removing ros-noetic-gazebo-dev (2.9.2-1focal.20210423.224909) ...
# Removing libgazebo11-dev:amd64 (11.9.0-1~focal) ...
# Removing libignition-fuel-tools4-dev:amd64 (4.4.0-1~focal) ...
# Selecting previously unselected package libcurl4-gnutls-dev:amd64.
# (Reading database ... 380145 files and directories currently installed.)
# Preparing to unpack .../libcurl4-gnutls-dev_7.68.0-1ubuntu2.18_amd64.deb ...
# Unpacking libcurl4-gnutls-dev:amd64 (7.68.0-1ubuntu2.18) ...
# (Reading database ... 380169 files and directories currently installed.)
# Removing ros-noetic-gazebo-ros-control (2.9.2-1focal.20220107.010259) ...
# Selecting previously unselected package libgcrypt20-dev.
# (Reading database ... 380154 files and directories currently installed.)
# Preparing to unpack .../00-libgcrypt20-dev_1.8.5-5ubuntu1.1_amd64.deb ...
# Unpacking libgcrypt20-dev (1.8.5-5ubuntu1.1) ...
# Selecting previously unselected package libhttp-parser2.9:amd64.
# Preparing to unpack .../01-libhttp-parser2.9_2.9.2-2_amd64.deb ...
# Unpacking libhttp-parser2.9:amd64 (2.9.2-2) ...
# Selecting previously unselected package libmbedcrypto3:amd64.
# Preparing to unpack .../02-libmbedcrypto3_2.16.4-1ubuntu2_amd64.deb ...
# Unpacking libmbedcrypto3:amd64 (2.16.4-1ubuntu2) ...
# Selecting previously unselected package libmbedx509-0:amd64.
# Preparing to unpack .../03-libmbedx509-0_2.16.4-1ubuntu2_amd64.deb ...
# Unpacking libmbedx509-0:amd64 (2.16.4-1ubuntu2) ...
# Selecting previously unselected package libmbedtls12:amd64.
# Preparing to unpack .../04-libmbedtls12_2.16.4-1ubuntu2_amd64.deb ...
# Unpacking libmbedtls12:amd64 (2.16.4-1ubuntu2) ...
# Selecting previously unselected package libssh2-1:amd64.
# Preparing to unpack .../05-libssh2-1_1.8.0-2.1build1_amd64.deb ...
# Unpacking libssh2-1:amd64 (1.8.0-2.1build1) ...
# Selecting previously unselected package libgit2-28:amd64.
# Preparing to unpack .../06-libgit2-28_0.28.4+dfsg.1-2_amd64.deb ...
# Unpacking libgit2-28:amd64 (0.28.4+dfsg.1-2) ...
# Preparing to unpack .../07-libignition-cmake2-dev_2.15.0-1~focal_amd64.deb ...
# Unpacking libignition-cmake2-dev:amd64 (2.15.0-1~focal) over (2.9.0-1~focal) ...
# Preparing to unpack .../08-libignition-math6-dev_6.13.0-1~focal_amd64.deb ...
# Unpacking libignition-math6-dev:amd64 (6.13.0-1~focal) over (6.9.2-1~focal) ...
# Preparing to unpack .../09-libignition-math6_6.13.0-1~focal_amd64.deb ...
# Unpacking libignition-math6:amd64 (6.13.0-1~focal) over (6.9.2-1~focal) ...
# Preparing to unpack .../10-libignition-msgs5-dev_5.10.0-4~focal_amd64.deb ...
# Unpacking libignition-msgs5-dev:amd64 (5.10.0-4~focal) over (5.8.1-1~focal) ...
# Preparing to unpack .../11-libignition-msgs5_5.10.0-4~focal_amd64.deb ...
# Unpacking libignition-msgs5:amd64 (5.10.0-4~focal) over (5.8.1-1~focal) ...
# Selecting previously unselected package libmbedtls-dev:amd64.
# Preparing to unpack .../12-libmbedtls-dev_2.16.4-1ubuntu2_amd64.deb ...
# Unpacking libmbedtls-dev:amd64 (2.16.4-1ubuntu2) ...
# Preparing to unpack .../13-libsdformat9-dev_9.8.0-1~focal_amd64.deb ...
# Unpacking libsdformat9-dev:amd64 (9.8.0-1~focal) over (9.7.0-1~focal) ...
# Preparing to unpack .../14-sdformat9-sdf_9.8.0-1~focal_all.deb ...
# Unpacking sdformat9-sdf (9.8.0-1~focal) over (9.7.0-1~focal) ...
# Preparing to unpack .../15-libsdformat9_9.8.0-1~focal_amd64.deb ...
# Unpacking libsdformat9:amd64 (9.8.0-1~focal) over (9.7.0-1~focal) ...
# Selecting previously unselected package libssh2-1-dev:amd64.
# Preparing to unpack .../16-libssh2-1-dev_1.8.0-2.1build1_amd64.deb ...
# Unpacking libssh2-1-dev:amd64 (1.8.0-2.1build1) ...
# Preparing to unpack .../17-gazebo11-plugin-base_11.11.0-1~focal_amd64.deb ...
# Unpacking gazebo11-plugin-base (11.11.0-1~focal) over (11.9.0-1~focal) ...
# Preparing to unpack .../18-gazebo11_11.11.0-1~focal_amd64.deb ...
# Unpacking gazebo11 (11.11.0-1~focal) over (11.9.0-1~focal) ...
# Preparing to unpack .../19-libgazebo11_11.11.0-1~focal_amd64.deb ...
# Unpacking libgazebo11:amd64 (11.11.0-1~focal) over (11.9.0-1~focal) ...
# Selecting previously unselected package libhttp-parser-dev.
# Preparing to unpack .../20-libhttp-parser-dev_2.9.2-2_amd64.deb ...
# Unpacking libhttp-parser-dev (2.9.2-2) ...
# Selecting previously unselected package libgit2-dev:amd64.
# Preparing to unpack .../21-libgit2-dev_0.28.4+dfsg.1-2_amd64.deb ...
# Unpacking libgit2-dev:amd64 (0.28.4+dfsg.1-2) ...
# Setting up libignition-math6:amd64 (6.13.0-1~focal) ...
# Setting up libcurl4-gnutls-dev:amd64 (7.68.0-1ubuntu2.18) ...
# Setting up libignition-cmake2-dev:amd64 (2.15.0-1~focal) ...
# Setting up libgcrypt20-dev (1.8.5-5ubuntu1.1) ...
# Setting up libmbedcrypto3:amd64 (2.16.4-1ubuntu2) ...
# Setting up libssh2-1:amd64 (1.8.0-2.1build1) ...
# Setting up libignition-msgs5:amd64 (5.10.0-4~focal) ...
# Setting up sdformat9-sdf (9.8.0-1~focal) ...
# Setting up libhttp-parser2.9:amd64 (2.9.2-2) ...
# Setting up libhttp-parser-dev (2.9.2-2) ...
# Setting up libmbedx509-0:amd64 (2.16.4-1ubuntu2) ...
# Setting up libmbedtls12:amd64 (2.16.4-1ubuntu2) ...
# Setting up libsdformat9:amd64 (9.8.0-1~focal) ...
# Setting up libignition-math6-dev:amd64 (6.13.0-1~focal) ...
# Setting up libmbedtls-dev:amd64 (2.16.4-1ubuntu2) ...
# Setting up libignition-msgs5-dev:amd64 (5.10.0-4~focal) ...
# Setting up libssh2-1-dev:amd64 (1.8.0-2.1build1) ...
# Setting up libgit2-28:amd64 (0.28.4+dfsg.1-2) ...
# Setting up libgazebo11:amd64 (11.11.0-1~focal) ...
# Setting up libsdformat9-dev:amd64 (9.8.0-1~focal) ...
# Setting up gazebo11 (11.11.0-1~focal) ...
# Setting up libgit2-dev:amd64 (0.28.4+dfsg.1-2) ...
# Setting up gazebo11-plugin-base (11.11.0-1~focal) ...
# Processing triggers for mime-support (3.64ubuntu1) ...
# Processing triggers for hicolor-icon-theme (0.17-2) ...
# Processing triggers for gnome-menus (3.36.0-1ubuntu1) ...
# Processing triggers for libc-bin (2.31-0ubuntu9.7) ...
# /sbin/ldconfig.real: /usr/local/cuda-11.0/targets/x86_64-linux/lib/libcudnn_cnn_train.so.8 is not a symbolic link
#
# /sbin/ldconfig.real: /usr/local/cuda-11.0/targets/x86_64-linux/lib/libcudnn_ops_infer.so.8 is not a symbolic link
#
# /sbin/ldconfig.real: /usr/local/cuda-11.0/targets/x86_64-linux/lib/libcudnn_adv_train.so.8 is not a symbolic link
#
# /sbin/ldconfig.real: /usr/local/cuda-11.0/targets/x86_64-linux/lib/libcudnn_ops_train.so.8 is not a symbolic link
#
# /sbin/ldconfig.real: /usr/local/cuda-11.0/targets/x86_64-linux/lib/libcudnn.so.8 is not a symbolic link
#
# /sbin/ldconfig.real: /usr/local/cuda-11.0/targets/x86_64-linux/lib/libcudnn_cnn_infer.so.8 is not a symbolic link
#
# /sbin/ldconfig.real: /usr/local/cuda-11.0/targets/x86_64-linux/lib/libcudnn_adv_infer.so.8 is not a symbolic link
#
# Processing triggers for man-db (2.9.1-1) ...
# Processing triggers for desktop-file-utils (0.24-1ubuntu3) ...
